.wd-modules,
.wd-modules * {
    border-radius: 0%;
    border: none;
    margin: 0px;
    padding: 0px;
}

.wd-modules {
    margin: 5px;
}

.wd-modules > li {
    background-color: lightgray;
    border: 1px solid gray !important;
    border-left: none !important;
}

.wd-modules > li > div {
    padding: 6px;
    border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
    padding: 5px;
    border-top: 1px solid gray !important;
    border-left: 2px solid green;
}

.wd-modules > li {
    margin-bottom: 20px;
}
.separator-line {
    margin-top: 10px;
}
.badge-outline {
    padding: 3px;
    background-color: transparent;
    border: 1px solid #6c757d;
    color: #6c757d;
    border-radius: 10px;
    font-size: 0.8em;
}
a {
    color: black;
    text-decoration: none;
}
